.InfiniteSlider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
}

.InfiniteSlider .Wrap {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.InfiniteSlider .Wrap .SliderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.InfiniteSlider .Wrap .SliderWrap .Slider{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.InfiniteSlider .Wrap .SliderWrap .Slider .SliderList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.InfiniteSlider .Wrap .SliderWrap .Slider .SliderList #SliderElements {
    display: flex;
    flex-direction: row;
    background-color: rgb(207, 207, 207);
    border-radius: 0.8rem;
    padding: 3rem 3rem 3rem 3rem;
    margin: 3rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 170%;
}

.InfiniteSlider .SliderNav {
    padding-top: 50px;
    display: flex;
    justify-content: center;

}

.InfiniteSlider .SliderNav .Wrap {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.InfiniteSlider .SliderNav .Wrap .NavBtn {
    width: 18px;
    height: 18px;
    background-color: rgb(202, 193, 193);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1.2rem;
}

.InfiniteSlider #Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}