/* CSS 스타일 리셋 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	width: 100%;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ================ 커스텀 폰트 ================== */
.customH1 {
	font-size: 36px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

.customH2 {
	font-size: 30px;
	font-family: 'Inter', sans-serif;
}

.customH3 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

.customH4 {
	font-size: 18px;
	font-family: 'Inter', sans-serif;
}

.customH5 {
	font-size: 40px;
	font-weight: 600;
	line-height: 48.41px;
	font-family: 'Inter', sans-serif;
}

.customH6 {
	font-size: 39px;
	font-weight: 600;
	line-height: 47.2px;
	font-family: 'Inter', sans-serif;
}

.customH7 {
	font-size: 33px;
	font-weight: 600;
	line-height: 40px;
	font-family: 'Inter', sans-serif;
}

.customH8 {
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	font-family: 'Inter', sans-serif;
}

.customH9 {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	font-family: 'Inter', sans-serif;
}

.customH10 {
	font-weight: 600;
	font-size: 26px;
	line-height: 31px;
	font-family: 'Inter', sans-serif;
	color: #000000;
}

.customH11 {
	font-weight: 600;
	font-size: 26px;
	line-height: 31px;
	font-family: 'Inter', sans-serif;
	color: #000000;
}

.customH12 {
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	font-family: 'Inter', sans-serif;
	color: #000000;
}

.customP {
	font-size: 20px;
	font-family: 'Inter', sans-serif;
}

.customP2 {
	font-size: 21px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

.customP3 {
	font-size: 19px;
	font-family: 'Inter', sans-serif;
}

.customP4 {
	font-size: 23px;
	font-weight: 500;
	line-height: 27.84px;
	font-family: 'Inter', sans-serif;
}

.customP5 {
	color: #8C8C8C;
	font-size: 20px;
	font-weight: 400;
	opacity: 0.7;
	line-height: 28px;
	font-family: 'Inter', sans-serif;
}

.customP6 {
	color: #929292;
	font-weight: 500;
	font-size: 20px;
	line-height: 144.5%;
	font-family: 'Inter', sans-serif;
}

.customP7 {
	font-size: 22px;
	line-height: 187.5%;
	color: #000000;
	font-family: 'Inter', sans-serif;
}

.customP8 {
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;

	color: #000000;
	font-family: 'Inter', sans-serif;
}

.customP9 {
	font-weight: 500;
	font-size: 17px;
	line-height: 140.52%;

	color: rgba(98, 98, 98, 0.7);
	font-family: 'Inter', sans-serif;
}





/* ================ 1. 메인 페이지 ================== */
/* ================ 1. 헤더 ================== */
.MainPage .header {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 89px;
	border-bottom: solid rgba(255, 255, 255, 0.4) 0.2px;
	z-index: 2;
	transition: 0.15s ease-in-out;
}

.header .left {
	display: flex;
	width: 50%;
	height: 100%;
}

.header .left .logo {
	width: 163px;
	height: 36px;

	margin-top: 30px;
	margin-left: 51px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.header .right {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

/* 프로그램 */
.header .right .headerBtn1 {
	display: flex;
	cursor: pointer;

	padding: 33px 60px 33px 60px;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}

.header .right .headerBtn1 .customP3 {
	width: 80px;
	font-weight: 600;
}


/* 도입 문의 */
.header .right .headerBtn2 {
	display: flex;
	cursor: pointer;

	padding: 33px 108px 33px 60px;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}

.header .right .headerBtn2 .customP3 {
	width: 80px;
	font-weight: 500;
}

.ContactSliderBtn {
	transition: 0.3s ease-in-out;
}


/* ================ 2. 영상 ================== */
/* 영상은 index.html 경로와 같은 곳에 위치  */
.videoWrap {
	width: 100%;
	height: 950px;
	z-index: 1;
}

.videoWrap>video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 도입문의 버튼-고정 */
.ContactWrap .ContactBtn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;

	position: fixed;
	bottom: 19%;
	right: 2%;
	width: 203px;
	height: 72px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s ease-in-out;
}

.ContactWrap .ContactBtn .customP3 {
	padding-left: 28px;
	font-weight: 600;
	color: #6F3AC1;
}


/* 도입문의 버튼-고정 */
/* 상단이동 버튼 */
.ContactSliderBtn {
	position: fixed;
	bottom: 11%;
	right: 2.4%;
	width: 67px;
	height: 67px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	border-radius: 50%;
	background-image: url('./Assets/top\ button.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s ease-in-out;

}

/* ================ 3. 프로그램 특징 ================== */
.features {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.features .wrap {
	width: 1440px;
}

/* firstLine */
/* 특징 - 서론 */
.firstLine.leftPictureSection {
	width: 100%;
	padding-left: 192px;
	padding-right: 192px;
	padding-top: 155px;
	padding-bottom: 155px;
	box-sizing: border-box;
}

.features .wrap .firstLine.leftPictureSection .contents {
	width: 100%;
	height: 100%;

	display: flex;
}

.features .wrap .firstLine.leftPictureSection .contents .picture {
	width: 50%;
	height: 297px;
}

.features .wrap .firstLine.leftPictureSection .contents .picture .wrap {
	width: 100%;
	height: 100%;
}

.features .wrap .firstLine.leftPictureSection .contents .picture .wrap .source {
	width: 490px;
	height: 297px;

	background-image: url(Assets/그림2.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 28px;
}

.features .wrap .firstLine.leftPictureSection .contents .text {
	width: 50%;
	height: 297px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.features .wrap .firstLine.leftPictureSection .contents .text .wrap {
	width: 480px;
	height: 222.81px;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .firstLine.leftPictureSection .contents .text .wrap .customH2 {
	width: 100%;

	font-weight: 700;
	line-height: 41px;
	color: #000000;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .firstLine.leftPictureSection .contents .text .wrap .customP {
	width: 100%;

	margin-top: 27px;

	font-weight: 300;
	line-height: 28.1px;
	color: #626262;

	display: flex;
	flex-direction: column;
	align-items: flex;
}


/* secondLine */
/* 특징 - 설명 */
.secondLine.rightPictureSection {
	width: 100%;
	padding-top: 100px;
	padding-left: 192px;
	padding-right: 192px;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.features .wrap .secondLine.rightPictureSection .contents {
	width: 100%;
	height: 100%;

	display: flex;
}

.features .wrap .secondLine.rightPictureSection .contents .picture {
	width: 50%;
	height: 297px;
}

.features .wrap .secondLine.rightPictureSection .contents .picture .wrap {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: flex-end;
}

.features .wrap .secondLine.rightPictureSection .contents .picture .wrap .source {
	width: 490px;
	height: 297px;

	background-image: url(Assets/그림3.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 28px;
}

.features .wrap .secondLine.rightPictureSection .contents .text {
	width: 50%;
	height: 297px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.features .wrap .secondLine.rightPictureSection .contents .text .wrap {
	width: 473px;
	height: 222.81px;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .secondLine.rightPictureSection .contents .text .wrap .customH2 {
	width: 473px;

	font-weight: 700;
	line-height: 41px;
	color: #000000;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .secondLine.rightPictureSection .contents .text .wrap .customP {
	width: 473px;

	margin-top: 27px;

	font-weight: 300;
	line-height: 28.1px;
	color: #626262;

	display: flex;
	flex-direction: column;
	align-items: flex;
}


/* thirdLine */
/* 특징 - 증명 */
.thirdLine.leftPictureSection {
	width: 100%;
	padding-top: 100px;
	padding-left: 192px;
	padding-right: 192px;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.features .wrap .thirdLine.leftPictureSection .contents {
	width: 100%;
	height: 100%;

	display: flex;
}

.features .wrap .thirdLine.leftPictureSection .contents .picture {
	width: 50%;
	height: 297px;
}

.features .wrap .thirdLine.leftPictureSection .contents .picture .wrap {
	width: 100%;
	height: 100%;
}

.features .wrap .thirdLine.leftPictureSection .contents .picture .wrap .source {
	width: 490px;
	height: 297px;

	background-image: url(Assets/그림4.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 28px;
}

.features .wrap .thirdLine.leftPictureSection .contents .text {
	width: 50%;
	height: 297px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.features .wrap .thirdLine.leftPictureSection .contents .text .wrap {
	width: 473px;
	height: 222.81px;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .thirdLine.leftPictureSection .contents .text .wrap .customH2 {
	width: 473px;

	font-weight: 700;
	line-height: 41px;
	color: #000000;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .thirdLine.leftPictureSection .contents .text .wrap .customP {
	width: 473px;

	margin-top: 27px;

	font-weight: 300;
	line-height: 28.1px;
	color: #626262;

	display: flex;
	flex-direction: column;
	align-items: flex;
}


/* fourthLine */
/* 특징 - 결론 */
.fourthLine.rightPictureSection {
	width: 100%;
	padding-top: 100px;
	padding-left: 192px;
	padding-right: 192px;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.features .wrap .fourthLine.rightPictureSection .contents {
	width: 100%;
	height: 100%;

	display: flex;
}

.features .wrap .fourthLine.rightPictureSection .contents .picture {
	width: 50%;
	height: 297px;
}

.features .wrap .fourthLine.rightPictureSection .contents .picture .wrap {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: flex-end;
}

.features .wrap .fourthLine.rightPictureSection .contents .picture .wrap .source {
	width: 490px;
	height: 297px;

	background-image: url(Assets/그림5.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 28px;
}

.features .wrap .fourthLine.rightPictureSection .contents .text {
	width: 50%;
	height: 297px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.features .wrap .fourthLine.rightPictureSection .contents .text .wrap {
	width: 473px;
	height: 222.81px;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .fourthLine.rightPictureSection .contents .text .wrap .customH2 {
	width: 473px;

	font-weight: 700;
	line-height: 41px;
	color: #000000;

	display: flex;
	flex-direction: column;
	align-items: flex;
}

.features .wrap .fourthLine.rightPictureSection .contents .text .wrap .customP {
	width: 473px;

	margin-top: 13px;

	font-weight: 300;
	line-height: 28.1px;
	color: #626262;

	display: flex;
	flex-direction: column;
	align-items: flex;
}




/* 띠배너 */
.MainPage .lineBanner {
	width: 100%;
	height: 310px;

	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url(Assets/spacebackground.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.lineBanner .top {
	padding-top: 93px;
}

.lineBanner .top .customH6 {
	color: #ffff;
}

.lineBanner .bottom {
	padding-top: 24.71px;
}

.lineBanner .bottom .wrap .headerBtn2 {
	box-sizing: border-box;
	text-decoration: none;
}

.lineBanner .bottom .wrap .headerBtn2 .customP4 {
	width: 217px;
	height: 53px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 33px;

	color: #ffff;
	display: flex;
	justify-content: center;
	align-items: center;
}




/* 푸터 */
.Footer {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	background-color: #343a40;
}

.Footer .Wrap {
	width: 1440px;
}

.Footer .IncWrap {

	display: flex;
	flex-direction: row;
}

.Footer .IncWrap .Inc p {
	color: white;
	font-size: 14px;
	padding-left: 12px;
}

.Footer .IncList {
	display: flex;
	justify-content: flex-end;
	padding-top: 4px;
}

.Copyright {
	display: flex;
	background-color: #343a40;
	width: 100%;
	height: 100px;
	border-top: solid 0.3px rgb(162, 162, 162);
	text-align: center;
	justify-content: center;
	align-items: center;
	color: rgb(162, 162, 162);
}


/* ================ 4. 프로그램 소개 ================== */
.programs {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: rgba(238, 238, 238, 0.75);
}

.programs .InfiniteSlider {
	width: 1440px;
	height: 1605px;

	display: flex;
	justify-content: flex-start;
	align-items: center;

}




/* ================ 2. 도입문의 상세 페이지 ================== */
/* ================ 1. 도입문의 페이지 wrap ================== */
.contactToRegister {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactToRegister .wrap {
	width: 1250px;
	height: 100%;
}

/* 1-1. 헤더 */
/* ================ 1. 헤더 ================== */
.contactToRegister .header {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 89px;
	border-bottom: solid rgba(255, 255, 255, 0.4) 0.2px;
	z-index: 2;
	transition: 0.15s ease-in-out;
}

.contactToRegister .header .left {
	display: flex;
	width: 50%;
	height: 100%;
}

.contactToRegister .header .left .logo {
	width: 163px;
	height: 36px;

	margin-top: 30px;
	margin-left: 51px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contactToRegister .header .right {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

/* 프로그램 */
.contactToRegister .header .right .headerBtn1 {
	display: flex;
	cursor: pointer;

	padding: 33px 60px 33px 60px;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}

.contactToRegister .header .right .headerBtn1 .customP3 {
	width: 80px;
	font-weight: 600;
}


/* 도입 문의 */
.contactToRegister .header .right .headerBtn2 {
	display: flex;
	cursor: pointer;

	padding: 33px 108px 33px 60px;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}

.contactToRegister .header .right .headerBtn2 .customP3 {
	width: 80px;
	font-weight: 500;
	color: hsla(0, 0%, 14%, 0.4);
}


/* ================ 2. 상단 소개글 ================== */
.contactToRegister .wrap .introduction {
	height: 200px;
	margin-top: 169px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .introduction .title {
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .introduction .customP6 {
	margin-top: 21px;
}


/* ================ 3.서비스 가능지역 ================== */
.contactToRegister .wrap .selectRegion {
	height: 1355px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 51px;

	background: #FFFFFF;
	box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.08);
	border-radius: 55px;
}

.contactToRegister .wrap .selectRegion>.wrap {
	width: 100%;
	height: 100%;
	padding-top: 94px;
}

.contactToRegister .wrap .selectRegion .wrap .title {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.contactToRegister .wrap .selectRegion .wrap .title .top {
	display: flex;
	flex-direction: row;

	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.contactToRegister .wrap .selectRegion .wrap .title .top .icon {
	margin-left: 475px;
}

.contactToRegister .wrap .selectRegion .wrap .title .top .icon .src {
	width: 67px;
	height: 67px;

	background-image: url(./Assets/Rectangle.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contactToRegister .wrap .selectRegion .wrap .title .top .contents .customH2 {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	text-align: center;

	color: #000000;
}

.contactToRegister .wrap .selectRegion .wrap .title .bottom {
	display: flex;
	flex-direction: row;

	padding-top: 11px;
	width: 100%;
	justify-content: center;
}

.contactToRegister .wrap .selectRegion .wrap .title .bottom .customH3 {
	font-weight: 500;
	line-height: 144.5%;

	color: #626262;
}

/* 서비스 가능지역 - 직영 선택 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap {
	width: 100%;
	height: 600px;
	margin-top: 58px;
}

/* ☆☆☆☆☆☆☆☆☆☆☆마커 공통 이미지 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .marker {
	width: 31.08px;
	height: 41.03px;

	background-image: url(./Assets/marker.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}
/* ☆☆☆☆☆☆☆☆☆☆서초 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .seocho ._seocho {
	position: absolute;
	left: 945px;
	top: 990px;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .seocho ._seochoCenterInfo {
	position: absolute;
	left: 1000px;
	top: 1198px;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .seocho ._seochoCenterInfo ._seochoCenterName {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	transition: 0.1s ease-in-out;

	color: #7E5CC4;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .seocho ._seochoCenterInfo ._seochoCenterPhoneNumber {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	transition: 0.1s ease-in-out;
	
	color: #858585;
}

/* ☆☆☆☆☆☆☆☆☆☆대치 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .daechi ._daechi {
	position: absolute;
	left: 1015px;
	top: 990px;
}

/* ☆☆☆☆☆☆☆☆☆☆목동 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .mokdong ._mokdong {
	position: absolute;
	left: 750px;
	top: 920px;
}

/* ☆☆☆☆☆☆☆☆☆☆잠실 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .jamsil ._jamsil {
	position: absolute;
	left: 1060px;
	top: 975px;
}

/* ☆☆☆☆☆☆☆☆☆☆중계 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .joonggae ._joonggae {
	position: absolute;
	left: 1043px;
	top: 700px;
}

/* ☆☆☆☆☆☆☆☆☆☆분당 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .boondang ._boondang {
	position: absolute;
	left: 1170px;
	top: 1140px;
}

/* ☆☆☆☆☆☆☆☆☆☆평촌 마커 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .pyeongchon ._pyeongchon {
	position: absolute;
	left: 770px;
	top: 1170px;
}



/* 맵 커버 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap .source {
	height: 100%;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}





/* .contactToRegister .wrap .selectRegion .wrap .mapWrap .source {
	width: 100%;
	height: 100%;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .source>div {
	display: flex;
	justify-content: center;
} */


/* 서비스 가능지역 - 직영 정보 */
.contactToRegister .wrap .selectRegion .wrap .information {
	width: 100%;
	height: 366px;
	margin-top: 204px;
}

.information .wrap {
	width: 100%;
	display: flex;

	margin-left: 72px;
}

.information .wrap .left .src {
	margin-top: 25px;
	width: 256px;
	height: 256px;

	background-image: url(./Assets/bigMarker.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.information .wrap .right {
	width: 900px;
}

.information .wrap .right .centerName {
	display: flex;
	flex-direction: column;

	margin-left: 22px;
	width: 100%;
}

.information .wrap .right .centerAddress {
	width: 100%;
	height: 73px;
	margin-top: 26px;
}

.information .wrap .right .centerAddress .wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* 문의처 > 주소 */
.information .wrap .right .centerAddress .wrap .left {
	width: 57px;
	margin-left: -42px;
}

.information .wrap .right .centerAddress .wrap .right {
	width: 700px;
	margin-left: 24px;
}

.information .wrap .right .centerAddress .wrap .right .wrap .customP7:nth-of-type(1) {
	font-weight: 600;
	width: 100%;
}

.information .wrap .right .centerAddress .wrap .right .wrap .customP7:nth-of-type(2) {
	font-weight: 400;
	color: #6F3AC1;
	width: 100%;
}


.information .wrap .right .centerAddress .wrap .right .wrap {
	display: flex;
	flex-direction: column;
}

.information .wrap .right .centerPhoneNumber {
	width: 100%;

	margin-top: 59px;
}

.information .wrap .right .centerPhoneNumber .wrap {
	display: flex;
	flex-direction: row;

	width: 100%;
}

.information .wrap .right .centerPhoneNumber .wrap .left {
	width: 120px;

	margin-left: -42px;
}

.information .wrap .right .centerPhoneNumber .wrap .right {
	width: 700px;
	margin-left: 34px;
}


/* ================ 4. 도입희망지역 ================== */
.contactToRegister .wrap .Wrap {
	background: #F6F6F6;
	box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.08);
	border-radius: 55px;

	margin-top: 54px;
	padding-top: 83px;
	padding-bottom: 83px;
}

.contactToRegister .wrap .hopeRegion {
	height: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contactToRegister .wrap .hopeRegion .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .hopeRegion .wrap .title {
	display: flex;
	width: 280px;

	padding-top: 3px;
	margin-left: 190px;
}

.contactToRegister .wrap .hopeRegion .wrap .listWrap {
	display: flex;
	width: 100%;

	margin-right: 190px;
}

.contactToRegister .wrap .hopeRegion .wrap .listWrap #list:nth-of-type(1) {
	margin-left: 27px;
}

.contactToRegister .wrap .hopeRegion .wrap .listWrap #list:nth-of-type(2) {
	margin-left: 49px;
}

/* 리스트버튼 스타일 */
#list {
	width: 289px;
	height: 39px;
}

#list select {
	width: 289px;
	height: 39px;
	border-radius: 5px;

	font-weight: 500;
	font-size: 17px;
	line-height: 140.52%;

	font-family: 'Inter', sans-serif;
}


/* ================ 5. 학급 수 ================== */
.contactToRegister .wrap .howManyClasses {
	margin-top: 39px;
	height: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contactToRegister .wrap .howManyClasses .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .howManyClasses .wrap .title {
	display: flex;
	width: 280px;

	padding-top: 3px;
	margin-left: 190px;
}

.contactToRegister .wrap .howManyClasses .wrap .listWrap {
	display: flex;
	width: 100%;

	margin-right: 190px;
}

.contactToRegister .wrap .howManyClasses .wrap .listWrap #list {
	margin-left: 27px;
}


/* ================ 6. 교육인원 ================== */
.contactToRegister .wrap .numberOfStudents {
	margin-top: 39px;
	height: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contactToRegister .wrap .numberOfStudents .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .numberOfStudents .wrap .title {
	display: flex;
	width: 280px;

	padding-top: 3px;
	margin-left: 190px;
}

/* 입력버튼 스타일 */
.contactToRegister .wrap .numberOfStudents .wrap .input {
	display: flex;
	width: 100%;

	margin-right: 190px;
}

.contactToRegister .wrap .numberOfStudents .wrap .input #input {
	width: 280px;
	margin-left: 27px;
	border-radius: 5px;

	font-weight: 500;
	font-size: 17px;
	line-height: 140.52%;

	font-family: 'Inter', sans-serif;
}


/* ================ 7. 프로그램 선택 ================== */
.contactToRegister .wrap .selectProgram {
	margin-top: 39px;
	height: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contactToRegister .wrap .selectProgram .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .selectProgram .wrap .title {
	display: flex;
	width: 300px;

	padding-top: 3px;
	margin-left: 190px;
}

.contactToRegister .wrap .selectProgram .wrap .listWrap {
	display: flex;
	width: 100%;

	margin-right: 190px;
}

.contactToRegister .wrap .selectProgram .wrap .listWrap #list {
	margin-left: 18px;
}


/* ================ 8. 수업 형태 ================== */
.contactToRegister .wrap .typeOfLesson {
	margin-top: 39px;
	height: 80px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contactToRegister .wrap .typeOfLesson .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .typeOfLesson .wrap .title {
	display: flex;
	width: 280px;

	padding-top: 3px;
	margin-left: 190px;
}

.contactToRegister .wrap .typeOfLesson .wrap .title .wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.contactToRegister .wrap .typeOfLesson .wrap .listWrap {
	display: flex;
	width: 100%;

	margin-right: 190px;
}

.contactToRegister .wrap .typeOfLesson .wrap .listWrap .customP {
	margin-left: 27px;
}


/* ================ 9. 수업 횟수 ================== */
.contactToRegister .wrap .numbersOfLessons {
	margin-top: 39px;
	height: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contactToRegister .wrap .numbersOfLessons .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .numbersOfLessons .wrap .title {
	display: flex;
	width: 280px;

	padding-top: 3px;
	margin-left: 190px;
}

.contactToRegister .wrap .numbersOfLessons .wrap .title .wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	flex-grow: 1;
}

.contactToRegister .wrap .numbersOfLessons .wrap .listWrap {
	display: flex;
	width: 100%;

	margin-right: 190px;
}

.contactToRegister .wrap .numbersOfLessons .wrap .listWrap #list {
	margin-left: 27px;
}


/* ================ 10. 수업 일정 ================== */
.contactToRegister .wrap .selectLessonDays {
	height: 1000px;
	margin-top: 128px;
}

.contactToRegister .wrap .selectLessonDays .wrap {
	display: flex;
	flex-direction: column;
}

.contactToRegister .wrap .selectLessonDays .wrap .title {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contactToRegister .wrap .selectLessonDays .wrap .title .top {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.contactToRegister .wrap .selectLessonDays .wrap .title .top .icon {
	width: 51px;
	height: 51px;
}

.contactToRegister .wrap .selectLessonDays .wrap .title .top .icon .source {
	width: 100%;
	height: 100%;

	background-image: url(./Assets/calendar.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contactToRegister .wrap .selectLessonDays .wrap .title .customP9 {
	text-align: center;
	margin-top: 16px;

	display: flex;
	justify-content: center;
}



/* 날짜 선택바 */
.bars {
	width: 100%;
	height: 100%;
	margin-left: 200px;
	display: flex;
}

.bars .wrap {
	width: 800px;
}


.bars .wrap .left .barWrap .circleNum{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	background-color: #FAFAFA;
	border: 1px solid #A8A8A8;
	border-radius: 50%;

	font-weight: 500;
	font-size: 27px;
	line-height: 140.52%;
	color: #747474;
}

.bars .wrap .left .barWrap:nth-of-type(1) {
	margin-top: 90px;
}

.bars .wrap .left .barWrap:nth-of-type(2) {
	margin-top: 19px;
}

.bars .wrap .left .barWrap:nth-of-type(3) {
	margin-top: 19px;
}

.bars .wrap .left .barWrap #bar0 {
	width: 697px;
	height: 54px;
	margin-left: 39px;

	font-weight: 500;
	font-size: 27px;
	line-height: 140.52%;
	font-family: 'Inter', sans-serif;
	color: #747474;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #FAFAFA;
	border: 1px solid #A8A8A8;
	border-radius: 9px;
}

.bars .wrap .left .barWrap #bar1 {
	width: 697px;
	height: 54px;
	margin-left: 39px;

	font-weight: 500;
	font-size: 27px;
	line-height: 140.52%;
	font-family: 'Inter', sans-serif;
	color: #747474;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #FAFAFA;
	border: 1px solid #A8A8A8;
	border-radius: 9px;
}

.bars .wrap .left .barWrap #bar2 {
	width: 697px;
	height: 54px;
	margin-left: 50px;

	font-weight: 500;
	font-size: 27px;
	line-height: 140.52%;
	font-family: 'Inter', sans-serif;
	color: #747474;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #FAFAFA;
	border: 1px solid #A8A8A8;
	border-radius: 9px;
}

.bars .right .controlWrap{
	margin-top: 90px;
	display: flex;
	align-items: center;
	height: 54px;
}

.bars .right .controlWrap .addBtn {
	width: 46px;
	height: 46px;
	font-size: 49px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffff;
	border: none;
	cursor: pointer;
}
.bars .right .controlWrap .addBtn:hover {
	background-color: #F6F6F6
}

.bars .right .controlWrap .discardBtn {
	width: 46px;
	height: 46px;
	font-size: 49px;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffff;
	border: none;
	cursor: pointer;
}

.bars .right .controlWrap .discardBtn:hover {
	background-color: #F6F6F6
}


/* 달력 전체 크기 지정 */
.calendarWrap .calendar{
	display: flex;
	justify-content: center;
}

.calendarWrap .calendar .react-calendar {
	width: 946px;
	height: 446px;
	margin-top: 56px;
	
	border: none;
}

/* 달력 년도 배경색 */
.react-calendar .react-calendar__navigation {
	background-color: rgba(16, 16, 16, 0.05);
	height: 60px;
	border-radius: 15px;
}

.react-calendar__navigation__arrow {
	border-radius: 15px;
}

/* 달력 년도 레이블 */
.react-calendar__navigation__label {
	font-size: 29px;
	line-height: 35.1px;
	font-family: 'Inter', sans-serif;
}

.react-calendar__month-view__weekdays__weekday {
	height: 50px;

	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

/* 달력 일자 타일 */
.react-calendar__tile {
	height: 50px;

	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

/* 요일 표시 데코레이션 */
abbr {
	text-decoration: none;
}

/* 날짜 타일 선택 효과 */
.react-calendar .react-calendar__tile--active:enabled:hover,
.react-calendar .react-calendar__tile--active:enabled:focus {
	background-color: #6F3AC1;
}

.react-calendar .react-calendar__tile {
	transition: 0.1s ease-in-out;
}

.react-calendar .react-calendar__tile--now {
	border-radius: 15px;
}

.react-calendar .react-calendar__tile--active {
	background-color: #6F3AC1;
}

.react-calendar .highlight {
	/* outline: 2px solid red; */
	background-color: #6F3AC1;
	color: white;
	border-radius: 15px;
}

.barWrap {
	display: flex;
	flex-direction: row;
}


/* ================ 11. 신청자 ================== */


.contactToRegister .wrap .applicant {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	

	margin-left: 255px;
	margin-right: 255px;
}

.contactToRegister .wrap .applicant .wrap {
	display: flex;
	flex-direction: row;
	width: 672px;
	background-color: brown;
}

.contactToRegister .wrap .applicant .wrap .title {
	width: 111px;
	
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: orange;
}

.contactToRegister .wrap .applicant .wrap .input {
	display: flex;
}

.contactToRegister .wrap .applicant .wrap .input #input {
	display: flex;

		width: 280px;
		height: 33px;
		border-radius: 5px;
	
		font-weight: 500;
		font-size: 17px;
		line-height: 140.52%;
	
		margin-left: 272px;
		font-family: 'Inter', sans-serif;
}



/* ================ 12. 이메일 ================== */
.contactToRegister .wrap .email {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contactToRegister .wrap .email .wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.contactToRegister .wrap .email .wrap .title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .email .wrap .input {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}


/* ================ 13. 휴대번호 ================== */
.contactToRegister .wrap .phoneNumber {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contactToRegister .wrap .phoneNumber .wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.contactToRegister .wrap .phoneNumber .wrap .title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .phoneNumber .wrap .input {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}


/* ================ 14. 기관 선택 ================== */
.contactToRegister .wrap .selectOrg {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .selectOrg .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .right .wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.contactToRegister .right .wrap .selectOrgType {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.contactToRegister .right .wrap .selectOrgType .left {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.contactToRegister .right .wrap .selectOrgType {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.contactToRegister .wrap .selectOrg .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .selectOrg .wrap .right {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}


/* ================ 15. 수업 문의 경로 ================== */
.contactToRegister .wrap .howToKnowUs {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contactToRegister .wrap .howToKnowUs .wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.contactToRegister .wrap .howToKnowUs .wrap .title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .howToKnowUs .wrap .boxesWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .howToKnowUs .wrap .boxesWrap .box1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}


/* ================ 16. 개인정보 수집, 이용에 대한 동의 ================== */
.contactToRegister .wrap .Agree {
	width: 100%;
	height: 50px;
	display: flex;
}

.contactToRegister .wrap .Agree .wrap {
	display: flex;
	flex-direction: column;
}

.contactToRegister .wrap .Agree .wrap .top {
	display: flex;
	height: 50px;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .Agree .wrap .top .customH2 {
	width: 600px;
	height: 100px;
}

.contactToRegister .wrap .Agree .wrap .boxesWrap {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-grow: 1;
}

.contactToRegister .wrap .Agree .wrap .boxesWrap .agreeBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: brown;
}

.contactToRegister .wrap .Agree .wrap .boxesWrap .agreeDescriptionBtn {
	background-color: white;
	background-image: url(https://account.chungdahm.com/images/icon_accordion_close.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

/* ================ 17. 제출하기 ================== */
.contactToRegister .wrap .Submit {
	width: 100%;
	margin-top: 100px;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}