/* CSS 스타일 리셋 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


.customH1 {
	font-size: 36px;
	font-weight: bold;
}

.customH2 {
	font-size: 24px;
	font-weight: bold;
}

.customP {
	font-size: 16px;
}



.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 70px;
}

.header .left {
	display: flex;
	width: 80%;
	background-color: blue;
}

.header .left .logo {
	width: 135px;
	height: 100%;
	background-image: url(Assets/logo_fromc.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 40px;
}

.header .right {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 20%;
	background-color: blueviolet;
}

.header .right .headerBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	width: 100px;
	height: 40px;
	border: solid;
	margin-left: 15px;
}

.videoWrap {
	width: 100%;
	height: 500px;
}

.videoWrap>video {
	width: 100%;
	height: 100%;
	background-color: coral;
}

.ContactWrap .ContactBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: solid;
	color: black;

	position: fixed;
	bottom: 15%;
	right: 2%;
	width: 120px;
	height: 70px;
	border-radius: 15px;
}

.ContactSliderBtn {
	position: fixed;
	bottom: 9%;
	right: 3.5%;
	width: 50px;
	height: 50px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	border: solid;
	border-radius: 50%;
}

.features {
	margin-top: 100px;
	width: 100%;
	height: 2140px;
	display: flex;
	justify-content: center;
}

.features .wrap {
	width: 80%;
	height: 100%;
}

.features .wrap .title {
	height: 100px;
}

/* firstLine */
.leftPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .leftPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .leftPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .leftPictureSection .contents .picture .wrap {
	width: 100%;
}

.features .wrap .firstLine.leftPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .leftPictureSection .contents .text {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .leftPictureSection .contents .text .wrap {
	margin-left: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}


/* secLine */
.rightPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .rightPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .rightPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .rightPictureSection .contents .picture .wrap {
	width: 100%;
}

.features .wrap .secondLine.rightPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .rightPictureSection .contents .text {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .rightPictureSection .contents .text .wrap {
	margin-right: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}


/* thirdLine */
.leftPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .leftPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .leftPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .leftPictureSection .contents .picture .wrap {
	width: 80%;
}

.features .wrap .thirdLine.leftPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림4.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .leftPictureSection .contents .text {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .leftPictureSection .contents .text .wrap {
	margin-left: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}


/* fourthLine */
.rightPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .rightPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .rightPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .rightPictureSection .contents .picture .wrap {
	width: 100%;
}

.features .wrap .fourthLine.rightPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림5.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .rightPictureSection .contents .text {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .rightPictureSection .contents .text .wrap {
	margin-right: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}

.programs {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 60px;
}

.programs .InfiniteSlider {
	display: flex;
	justify-content: center;
	width: 80%;
	background-color: yellowgreen
}

.contactToRegister {
	width: 100%;
	height: 2140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contactToRegister .wrap {
	width: 80%;
	height: 100%;
	background-color: burlywood;
}

.contactToRegister .wrap .introduction {
	height: 400px;
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .introduction .customP {
	margin-top: 30px;
}

.contactToRegister .wrap .programsChoice {
	height: 250px;
	background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .programsChoice .wrap {
	display: flex;
	width: 100%;
	background-color: red;
}

.contactToRegister .wrap .programsChoice .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .programsChoice .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .programsChoice .wrap .listWrap .list {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .numbersOfLesson {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .numbersOfLesson .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .numbersOfLesson .wrap .title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .numbersOfLesson .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .selectRegion {
	height: 600px;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contactToRegister .wrap .selectRegion .wrap {
	width: 100%;
}

.contactToRegister .wrap .selectRegion .wrap .title {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap {
	width: 100%;
	height: 100%;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/서울시지도.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}