/* CSS 스타일 리셋 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	width: 100%;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.customP2 {
	font-size: 21px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}


.customH1 {
	font-size: 36px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

.customH2 {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

.customH3 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

.customH4 {
	font-size: 18px;
	font-family: 'Inter', sans-serif;
}

.customP {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

.header {
	position: fixed;
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	width: 100%;
	height: 70px;
	border-bottom: solid whitesmoke 0.2px;
	z-index: 2;
}

.header .left {
	display: flex;
	width: 75%;
}

.header .left .logo {
	width: 135px;
	height: 100%;
	background-image: url(Assets/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 54px;
}

.header .right {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 25%;
}

.header .right .headerBtn1 {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	width: 100px;
	height: 40px;
	margin-left: 33px;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	color: white;
}

.header .right .headerBtn2 {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	width: 100px;
	height: 40px;
	margin-left: 33px;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	color: white;
}

.videoWrap {
	width: 100%;
	height: 950px;
	z-index: 1;
}

.videoWrap>video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ContactWrap .ContactBtn {
	display: flex;
	align-items: center;
	padding-left: 60px;
	justify-content: flex-start;
	text-decoration: none;
	color: #6F3AC1;



	position: fixed;
	bottom: 15%;
	right: 2%;
	/* width: 120px; */
	width: 203px;
	height: 70px;
	background-image: url('./Assets/Group\ 204.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ContactSliderBtn {
	position: fixed;
	bottom: 6%;
	right: 3.5%;
	width: 67px;
	height: 67px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;


	border-radius: 50%;
	background-image: url('./Assets/top\ button.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features {
	margin-top: 100px;
	width: 100%;
	height: 2140px;
	display: flex;
	justify-content: center;
}

.features .wrap {
	width: 80%;
	height: 100%;
}

.features .wrap .title {
	height: 100px;
}

/* firstLine */
.leftPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .leftPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .leftPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .leftPictureSection .contents .picture .wrap {
	width: 100%;
}

.features .wrap .firstLine.leftPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .leftPictureSection .contents .text {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .leftPictureSection .contents .text .wrap {
	margin-left: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}


/* secLine */
.rightPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .rightPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .rightPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .rightPictureSection .contents .picture .wrap {
	width: 100%;
}

.features .wrap .secondLine.rightPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .rightPictureSection .contents .text {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .rightPictureSection .contents .text .wrap {
	margin-right: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}


/* thirdLine */
.leftPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .leftPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .leftPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .leftPictureSection .contents .picture .wrap {
	width: 80%;
}

.features .wrap .thirdLine.leftPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림4.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .leftPictureSection .contents .text {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .leftPictureSection .contents .text .wrap {
	margin-left: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}


/* fourthLine */
.rightPictureSection {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.features .wrap .rightPictureSection .contents {
	display: flex;
	width: 100%;
	height: 100%;
}

.features .wrap .rightPictureSection .contents .picture {
	width: 50%;
	background-color: darkgoldenrod;
}

.features .wrap .rightPictureSection .contents .picture .wrap {
	width: 100%;
}

.features .wrap .fourthLine.rightPictureSection .contents .picture .wrap .source {
	width: 100%;
	height: 100%;

	background-image: url(Assets/그림5.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.features .wrap .rightPictureSection .contents .text {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: aquamarine;
}

.features .wrap .rightPictureSection .contents .text .wrap {
	margin-right: 50px;
	margin-top: -10px;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 60%;
	background-color: darkcyan;
}

.programs {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 60px;
}

.programs .InfiniteSlider {
	display: flex;
	justify-content: center;
	width: 80%;
	background-color: yellowgreen
}


/* 도입문의 페이지 */
.contactToRegister {
	width: 100%;
	height: 2800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}

.contactToRegister .wrap {
	width: 1250px;
	height: 100%;
}

/* 도입문의 소개 페이지 */
.contactToRegister .wrap .introduction {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .introduction .title {
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .introduction .customP {
	margin-top: 30px;
}

/* 프로그램 운영지역 */
.contactToRegister .wrap .selectRegion {
	height: 920px;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contactToRegister .wrap .selectRegion .wrap {
	width: 100%;
	height: 100%;
}

.contactToRegister .wrap .selectRegion .wrap .title {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/* 프로그램 운영지역 - 맵 선택-직영 선택 */
.contactToRegister .wrap .selectRegion .wrap .mapWrap {
	width: 100%;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .source {
	width: 100%;
	height: 100%;
}

.contactToRegister .wrap .selectRegion .wrap .mapWrap .source > div{
	display: flex;
	justify-content: center;
}


/* 프로그램 운영지역 - 맵 선택-직영 정보 */
.information {
	width: 100%;
	height: 200px;
	background-color: brown;
}

.information .wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.information .wrap .centerName {
	width: 100%;
	height: 120px;
	background-color: blue;
}

.information .wrap .centerAddress {
	width: 100%;
	height: 120px;
	background-color: bisque;
}

.information .wrap .centerAddress .wrap {
	display: flex;
	flex-direction: row;
}

.information .wrap .centerAddress .wrap .left{
	width: 50%;
}

.information .wrap .centerAddress .wrap .right{
	width: 50%;
}

.information .wrap .centerAddress .wrap .right .wrap{
	display: flex;
	flex-direction: column;
}

.information .wrap .centerPhoneNumber {
	width: 100%;
	height: 120px;
	background-color: cornflowerblue;
}

.information .wrap .centerPhoneNumber .wrap {
	display: flex;
	flex-direction: row;
}

.information .wrap .centerPhoneNumber .wrap .left{
	width: 50%;
}

.information .wrap .centerPhoneNumber .wrap .right{
	width: 50%;
}


/* 도입희망지역 */
.contactToRegister .wrap .hopeRegion {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .hopeRegion .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .hopeRegion .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .hopeRegion .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .hopeRegion .wrap .listWrap .list {
	display: flex;
	width: 100%;
}


/* 학급수 */
.contactToRegister .wrap .howManyClasses {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .howManyClasses .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .howManyClasses .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .howManyClasses .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .howManyClasses .wrap .listWrap .list {
	display: flex;
	width: 100%;
}


/* 교육인원 입력 */
.contactToRegister .wrap .numberOfStudents {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.contactToRegister .wrap .numberOfStudents .wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.contactToRegister .wrap .numberOfStudents .wrap .title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .numberOfStudents .wrap .input {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}


/* 프로그램 선택 */
.contactToRegister .wrap .selectProgram {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .selectProgram .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .selectProgram .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .selectProgram .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .selectProgram .wrap .listWrap .list {
	display: flex;
	width: 100%;
}


/* 수업 형태 선택 */
.contactToRegister .wrap .typeOfLesson {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .typeOfLesson .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .typeOfLesson .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .typeOfLesson .wrap .title .wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	flex-grow: 1;
}

.contactToRegister .wrap .typeOfLesson .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .typeOfLesson .wrap .listWrap .list {
	display: flex;
	width: 100%;
}


/* 수업 횟수 선택 */
.contactToRegister .wrap .numbersOfLessons {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contactToRegister .wrap .numbersOfLessons .wrap {
	display: flex;
	width: 100%;
}

.contactToRegister .wrap .numbersOfLessons .wrap .title {
	display: flex;
	width: 100%;
	background-color: orange;
	flex-grow: 1;
}

.contactToRegister .wrap .numbersOfLessons .wrap .title .wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	flex-grow: 1;
}

.contactToRegister .wrap .numbersOfLessons .wrap .listWrap {
	display: flex;
	width: 100%;
	background-color: brown;
	flex-grow: 1;
}

.contactToRegister .wrap .numbersOfLessons .wrap .listWrap .list {
	display: flex;
	width: 100%;
}


/* 수업 일정 */
.contactToRegister .wrap .selectLessonDays {
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: aquamarine;
}

.contactToRegister .wrap .selectLessonDays .wrap .title {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* 달력 스타일 덮어씌우기 */
.calendarWrap .calendar .react-calendar {
	width: 80%;
}